params {


// Define the input parameters
input = 'test_data/sample_sheet.csv'
output_dir = 'results'
sample_size = 1000

}

process {

   

    
    withLabel:process_low {
        cpus   = { 2     * task.attempt }
        memory = { 3.GB * task.attempt }
        time   = { 4.h   * task.attempt }
    }

}
profiles {

    docker {
        docker.enabled          = true
        conda.enabled           = false
        singularity.enabled     = false
        podman.enabled          = false
        shifter.enabled         = false
        charliecloud.enabled    = false
        apptainer.enabled       = false
        docker.runOptions       = '-u $(id -u):$(id -g)'
    }
}